*/Makefile
*/*/Makefile
*/*/*/Makefile
*.la
*.exe
.*.swp
.libs
.makefrags
.obj
tags
/config.mk
/doc
/optimised
/release
/debug-icc
/release-icc
/debug-llvm-gcc
/release-llvm-gcc
/debug-clang
/release-clang
/small
*.bak
*.core
temp.out
externals/zlib/*
externals/mhash-win32/*
externals/libpng/*
externals/SDL/*
externals/icu/*
externals/readline/*
externals/GTK/*
*.opensdf
*.vcxproj.user
*.suo
*.sdf
*/ide/msvc*/Debug*
*/ide/msvc*/Release*
*/*/ide/msvc*/Debug/*
*/*/ide/msvc*/Release/*
*/*/*/ide/msvc*/Debug/*
*/*/*/ide/msvc*/Release/*
/ide/msvc*/Debug/*
/ide/msvc*/Release/*
/ide/msvc*/ipch/*
server-plugins/*/ide/msvc/*